.search{
    position: relative;
    border-radius: 4px;
    margin-left: 30px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.15);
    transition: .4s;
    &:hover{
        background-color: rgba(255, 255, 255, 0.25);
        
    }

}

.searchIcon{
    width: 40px;
    height: 100%;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.inputInput{
    transition: .3s;
    width: 80px;
    padding-left: 40px;

    &:focus{ 

        width: 200px ;
    }
    
}
.inputRoot{
    color: inherit;
    padding-right: 30px;
}
.clear{
    position: absolute;
    right: 0px;

    cursor: pointer;
    width: 40px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    
}