
.form{
    display: flex;
    flex-direction: column;
}
.chooseBtn{
    margin-left: 15px;
}
.genres{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.checkboxContainer{
    width: 30%;
}
.dialog{
    width: 100%;
}
.options{
    width: 100px;
}

.dialogTitle{
    margin-left: auto;
    margin-right: auto;
}
.genresHeader{
    margin-top: 10px;
}
.inputContainer{
    width: 100px;
    margin-left: 20px;
}
.formControl{
    width: 180px;
}
.containerInput{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.switchContainer{
    vertical-align: bottom;
}