.picture{
    display: block;
    width: 24%;
    cursor: pointer;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image{
    display: block;
    width: 100%;
    max-height: 120px;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContainer{
    position: relative;
}
.btnPrev{
    position: absolute;
    left: 0;
    top: calc(50% - 40px);
    cursor: pointer;
    background-color: grey;
    opacity: .5;
}
.btnNext{
    position: absolute;
    right: 0;
    top: calc(50% - 45px);
    cursor: pointer;
    background-color: grey;
    opacity: .5;
}
.iconNext{
    font-size: 40px;
    color: white;
}
.iconPrev{
    font-size: 40px;
    color: white;
}
.imgGallery{
    font-weight: 700;
    margin: 0;
    margin-right: auto;
}
.headerGallery{
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
}
.galleryFull{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.albumImg{
    margin: 2px;
    cursor: pointer;
}
.backBlock{
    margin-top: 10px;
}